<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">

	<!-- 회원가입하기(회원정보 등록하기) -->
	<insert id="insertUserInfo" parameterType="UserDTO">
		INSERT INTO USER_INFO
			(
			EMAIL,
			PASSWORD,
			USER_NAME,
			REG_ID,
			REG_DT,
			CHG_ID,
			CHG_DT
			)
			
		VALUES
			(
			#{email},
			#{password},
			#{user_name},
			#{email},
			SYSDATE
			#{email},
			SYSDATE
			)
			
	
	</insert>

</mapper>
